# Ignore artifacts:
dist
.parcel-cache
node_modules

# Ignore all JS/TS files, becuse we use Rome tools for this ones
*.js
*.ts
**/*.js
**/*.ts

# Ignore all JSON files, becuse we use Rome tools for this ones
*.json
**/*.json
