doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Uspio LTD
		link(rel='stylesheet' href='src/styles/index.scss')
	body
		// Header
		header.header
			.container.header__container
				// Brand logo
				a.brand.header__brand(href='/')
					svg.icon.icon--brand-logo.brand__icon(xmlns:xlink='http://www.w3.org/1999/xlink')
						use(xlink:href='#brand-logo')

				// Header divider
				hr.header__hr(aria-orientation='vertical')

				// Delivery
				.deliveryTo.header__deliveryTo
					// Delivery title
					//- h5.deliveryTo__title(title='Город доставки: Москва') Москва
					h5.deliveryTo__title(title='Город доставки: Москва') ТЕКСТ ТЕКСТ

					// Delivery info
					.deliveryTo__info
						.deliveryTo__address
							// Delivery icon
							svg.icon.icon--map-pin.deliveryTo__address-icon(xmlns:xlink='http://www.w3.org/1999/xlink')
								use(xlink:href='#map-pin')

							// Delivery address
							span.deliveryTo__address-text-wrapper(title='Адрес доставки: ул. Большой Козловский Переулок 10с1')
								//- span.deliveryTo__address-text ул. Большой Козловский Переулок 10с1
								span.deliveryTo__address-text Тексттт

							// Delivery quantity
							abbr.deliveryTo__address-quantity(title='Общее количество ожидаемых доставок - (10шт.)')
								span.deliveryTo__address-bracket (
								span.deliveryTo__address-value-wrapper
									span.deliveryTo__address-value 10
								span.deliveryTo__address-bracket )

						// Delivery divider
						hr.deliveryTo__divider(aria-orientation='vertical')

						// Delivery time and date: 14th of September 2023, at 18:00 Moscow time (UTC+3)
						time.deliveryTo__time(datetime='2023-08-14T18:00:00+03:00')
							span.deliveryTo__time-text-wrapper(title='Ориентироочная дата и время доставки: 14-го Сентября, 18:00 (МСК)')
								//- span.span.deliveryTo__time-text 14-го Сентября, 18:00 (МСК)
								span.span.deliveryTo__time-text текст
							abbr.deliveryTo__time-quantity(title='Количество ближайших доставок - (10шт.)')
								span.deliveryTo__time-bracket (
								span.deliveryTo__time-value-wrapper
									span.deliveryTo__time-value 10
								span.deliveryTo__time-bracket )

				// Fast header target
				a.btn.btn-outline-atlantis.btn_custom.btn_custom_rounded.header__target(href='javascript: void(0);' role='button')
					// Fast header target icon
					.header__target-icon
						// Sivcev table
						table.sivcev(aria-description='Эта таблица представляет собой миниатюру таблицы Сивцева - таблицы, которая, в свою очередь представляет собой стандартный набор печатных знаков для определения остроты зрения человека')
							tbody
								tr
									td.sivcev__char Ш
									td.sivcev__char(colspan='2') Б
								tr
									td.sivcev__char Н
									td.sivcev__char М
									td.sivcev__char К
					//- span.btn__text Запишитесь на<br> проверку
					span.btn__text
						span.btn__text-overflow Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil modi tempore minima dignissimos, qui laborum tenetur incidunt beatae et, consectetur enim perspiciatis aut vitae eveniet, debitis optio voluptates id rem!

				// Header divider
				hr.header__hr(aria-orientation='vertical')

				// Address
				address.header__address
					a.header__address-phone(href='tel:+78001111111' title='Позвонить через приложение установленное по умолчанию, на номер: +78001111111') +7 (800) 111-111-1
					button.btn.btn-link.header__address-callback(title='Кнопка \"Перезвоните мне\": Откроет модальное окно с формой обратной связи') Перезвоните мне

				// Header actions: Favorites & Basket buttons
				.header__actions
					.header__actions-row
						.header__actions-col
							a.header__action.header__action--heart(href='/favourites' title='Избранные товары') Избранные товары
								svg.icon.icon--heart.header__action-icon(xmlns:xlink='http://www.w3.org/1999/xlink')
									use(xlink:href='#heart')
								span.badge.badge_custom.badge_custom_atlantis.badge_custom_circled.header__action-badge(title='В избранном: 99 товаров')
									span.badge__overflow 99

						.header__actions-col
							a.header__action.header__action--shoping-cart(href='/favourites' title='Корзина') Корзина
								svg.icon.icon--shoping-cart.header__action-icon(xmlns:xlink='http://www.w3.org/1999/xlink')
									use(xlink:href='#shoping-cart')
								span.badge.badge_custom.badge_custom_atlantis.badge_custom_circled.header__action-badge(title='В корзине: 3 товара')
									span.badge__overflow 3


		// SVG sprite
		include ./src/pug/blocks/sprite-defs
