@font-face {
	font-family: "Proxima Nova Rg";
	src:
		local("Proxima Nova Regular"),
		local("ProximaNova-Regular"),
		url("ProximaNova-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Rg";
	src:
		local("Proxima Nova Bold Italic"),
		local("ProximaNova-BoldIt"),
		url("ProximaNova-BoldIt.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Lt";
	src:
		local("Proxima Nova Light Italic"),
		local("ProximaNova-LightIt"),
		url("ProximaNova-LightIt.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Lt";
	src:
		local("Proxima Nova Light"),
		local("ProximaNova-Light"),
		url("ProximaNova-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Lt";
	src:
		local("Proxima Nova Semibold"),
		local("ProximaNova-Semibold"),
		url("ProximaNova-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Rg";
	src:
		local("Proxima Nova Regular Italic"),
		local("ProximaNova-RegularIt"),
		url("ProximaNova-RegularIt.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Rg";
	src:
		local("Proxima Nova Bold Italic"),
		local("ProximaNova-BoldIt"),
		url("ProximaNova-BoldIt.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Lt";
	src:
		local("Proxima Nova Semibold Italic"),
		local("ProximaNova-SemiboldIt"),
		url("ProximaNova-SemiboldIt.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
