@use 'sass:math';
@use 'conf';
@use 'copyrights';

.boot {
	background-color: conf.$white;
	padding-block: math.div(30, 16) + rem;

	&__container {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: #{conf.$m - 1}) {
			justify-content: center;
		}
	}
}
