@use 'conf';

.brand {
	color: conf.$mine-shaft;
	font-size: 56.3667px;
	line-height: 0;

	&:any-link {
		color: conf.$mine-shaft;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}

		&:hover,
		&:active,
		&:visited {
			color: conf.$mine-shaft;
		}
	}
}
