@use 'sass:math';
@use 'conf';

.copyrights {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-size: math.div(14, 16) + rem;
	line-height: math.div(20, 14);

	&__link {
		font-weight: 600;
		text-decoration: underline;
		text-underline-offset: math.div(4, 16) + em; // ~4px
		text-decoration-thickness: math.div(1, 16) + em; // ~1px
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		word-break: break-all;
		min-height: math.div(20, 14) + em;
		color: conf.$oslo-gray;

		&:hover {
			text-decoration: none;
			color: conf.$oslo-gray;
		}

		&:visited {
			color: conf.$oslo-gray;
		}

		&:empty {
			&::before {
				font-style: italic;
				font-weight: 300;
				word-break: normal;
				content: 'Link text not seted';

				@at-root :root[lang='ru'] & {
					content: 'Текст ссылки не задан';
				}
			}
		}
	}

	&__note {
		font-weight: 400;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		word-break: break-all;
		min-height: math.div(20, 14) + em;
		color: conf.$oslo-gray;

		&:empty {
			&::before {
				font-style: italic;
				font-weight: 300;
				word-break: normal;
				content: 'Text not seted';

				@at-root :root[lang='ru'] & {
					content: 'Текст не задан';
				}
			}
		}
	}
}
