@use 'sass:math';
@use 'sass:color';
@use 'conf';

.deliveryTo {
	display: flex;
	flex-direction: column;
	row-gap: math.div(2, 16) + 0rem; // ~2px

	&__title {
		// letter-spacing: math.div(1, 16) * -1em;
		min-height: conf.$line-height-sm;
		width: 100%;
		margin: 0;
		font-weight: 700;
		font-size: 1rem;
		line-height: conf.$line-height-sm;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;

		&:empty {
			font-weight: 300;
			&::before {
				content: 'Не указан город  доставки';
			}
		}
	}

	&__info {
		$info: &;
		display: grid;

		@media (max-width: #{conf.$l - 1}) {
			grid-template-columns: auto;
			grid-template-rows:
				auto
				math.div(2, 16) + 0rem
				auto
				math.div(2, 16) + 0rem
				auto;
			grid-template-areas:
				'address'
				'.      '
				'divider'
				'.      '
				'time   ';
		}

		@media (min-width: conf.$l) {
			align-items: center;
			grid-template-columns: auto 13px auto 10px auto 1fr;
			grid-template-areas:
				'.       . divider . .    .'
				'address . divider . time .'
				'.       . divider . .    .';
			grid-template-rows: 1fr auto 1fr;
		}
	}

	&__address {
		display: flex;
		column-gap: math.div(6, 16) + 0em; // ~6px
		grid-area: address;
		color: conf.$atlantis;
		margin: 0;
		line-height: conf.$line-height-sm;
		font-weight: 700;

		&-icon {
			flex-shrink: 0;
			transform: translateY(#{math.div(3, 16) + 0em});
			margin-inline-end: math.div(6, 16) + 0em;
			color: conf.$atlantis;
		}

		&-text {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			min-height: conf.$line-height-sm;
			// letter-spacing: math.div(1, 16) * -1em;

			&:empty {
				font-weight: 300;
				&::before {
					content: 'Не указан адрес доставки';
				}
			}
		}

		&-quantity,
		&-quantity[title] {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			text-decoration: none;
		}

		&-value {
			max-width: 2.5em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			min-height: conf.$line-height-sm;

			&:empty {
				font-weight: 300;
				&::before {
					content: '0';
				}
			}
		}
	}

	&__divider {
		grid-area: divider;
		background-color: conf.$alto;
		border: 0;
		box-sizing: border-box;
		margin: 0 math.div(1, 10) + 0rem 0 math.div(1, 13) + 0rem;
		width: 100%;
		height: math.div(1, 16) + 0rem;

		&[aria-orientation='vertical'] {
			@media (min-width: conf.$l) {
				height: 100%;
				width: math.div(1, 16) + 0rem;
			}
		}
	}

	&__time {
		display: flex;
		column-gap: math.div(4, 16) + 0em;
		grid-area: time;
		color: conf.$oslo-gray;
		line-height: conf.$line-height-sm;
		// color: color.change(conf.$limed-spruce, $alpha: 0.6); // #878F92

		&-text {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			min-height: conf.$line-height-sm;

			&:empty {
				font-weight: 300;
				&::before {
					content: 'Не указана дата доставки';
				}
			}
		}

		&-quantity,
		&-quantity[title] {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			text-decoration: none;
		}

		&-value {
			display: inline-block;
			vertical-align: middle;
			max-width: 2em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			min-height: conf.$line-height-sm;

			&:empty {
				font-weight: 300;
				&::before {
					content: '0';
				}
			}
		}
	}
}
