@use 'sass:math';

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	stroke: currentColor;
	stroke-width: 0;
	vertical-align: top;
	width: 1em;

	&--brand-logo {
		width: math.div(198, 56.3667) + em; /* ~56.3667px */
	}

	&--map-pin {
		width: math.div(13, 16) + em; /* ~13px */
	}

	&--heart {
		width: math.div(28, 24) + em; /* ~28px */
	}

	&--shoping-cart {
		width: math.div(30, 28) + em; /* ~28px */
	}

	&--vk {
		height: math.div(12, 20) + em; /* ~12px */
	}

	&--facebook {
		width: math.div(10, 20) + em; /* ~10px */
	}

	&--home {
		fill: transparent;
		stroke: currentColor;
		stroke-width: 1;
	}

	&--toy {
		height: math.div(31, 41) + em; /* ~31px */
	}

	&--shucks {
		width: math.div(36, 27) + em; /* ~27px */
	}

	&--eye {
		height: math.div(24, 36) + em; /* ~24px */
	}

	&--human-with-glasses {
		width: math.div(29, 41) + em; /* ~29px */
	}

	&--glasses {
		height: math.div(24, 36) + em; /* ~24px */
	}

	&--doctor {
		width: math.div(26, 36) + em; /* ~24px */
	}

	&--arrow-to-right-2 {
		width: math.div(9, 16) + em; /* ~16px */
	}
}
