@use 'sass:math';
@use 'conf';
@use 'func';

.main {
	&:first-child {
		&:not(script, style) {
			margin-block-start: 0;
		}
	}

	&:last-child {
		&:not(script, style) {
			margin-block-end: 0;
		}
	}

	&:not(:empty) {
		@media (max-width: #{conf.$m - 1}) {
			padding-block-end: math.div(60, 16) + rem;
		}

		@media (min-width: conf.$m) and (max-width: #{conf.$xl - 1}) {
			padding-block-end: func.fluid(
				func.strip-unit(math.div(60, 16) + 0rem) * conf.$font-size-root,
				func.strip-unit(math.div(55, 16) + 0rem) * conf.$font-size-root,
				conf.$m,
				conf.$xl
			);
		}

		@media (min-width: conf.$xl) {
			padding-block-end: math.div(55, 16) + rem;
		}
	}

	&__features {
		&:not(:first-child) {
			margin-block-start: math.div(66, 16) + rem;
		}

		&:not(:last-child) {
			margin-block-end: math.div(60, 16) + rem;
		}
	}

	&__custom-media {
		&:not(:first-child) {
			margin-block-start: math.div(60, 16) + rem;
		}

		&:not(:last-child) {
			margin-block-end: math.div(60, 16) + rem;
		}
	}
}
