@use 'sass:math';
@use 'conf';

// Sivcev table
.sivcev {
	$sivcev: &;
	table-layout: fixed;
	width: math.div(31, 14) * 1em; // ~31px

	tr {
		&:nth-child(1) {
			#{$sivcev}__char {
				font-weight: 700;
				font-size: math.div(16, 14) + 0em; // ~16px
			}
		}
	}

	&__char {
		text-align: center;
		line-height: 1;
		font-weight: 300;
		padding: 0;
		font-size: math.div(14, 16) + 0em; // ~14px

		&:first-child:not(:last-child) {
			text-align: start;
		}

		&:last-child:not(:first-child) {
			text-align: end;
		}
	}
}
