@use 'sass:color';
@use '@sass-fairy/math/math.sass';
@use 'conf';
@use 'conf/fibonacci';
@use 'func';

.social {
	display: flex;
	column-gap: math.div(conf.$grid-gutter-width, 2);
	row-gap: math.div(conf.$grid-gutter-width, 2);

	@media (max-width: #{conf.$xl - 1}) {
		flex-direction: column;
	}

	@media (min-width: conf.$l) and (max-width: #{conf.$xl - 1}) {
		column-gap: func.fluid(
			math.unitless(math.div(conf.$grid-gutter-width, 2)) * conf.$font-size-root,
			/* ~40px */ math.div(40, 16) * conf.$font-size-root,
			conf.$l,
			conf.$xl
		);
	}

	@media (min-width: conf.$xl) {
		column-gap: math.div(40, 16) + rem; /* ~40px */
		align-items: center;
	}

	&__row {
		display: flex;

		@media (max-width: #{conf.$xl - 1}) {
			justify-content: center;
			flex-wrap: wrap;
		}

		@media (min-width: conf.$xl) {
			justify-content: start;
			align-items: center;
		}

		&:not(:empty) {
			margin: math.div(math.div(15, 16), -2) + rem;
		}
	}

	&__col {
		padding: math.div(math.div(15, 16), 2) + rem;
	}

	&__title {
		margin: 0;
		font-size: 1rem;
		line-height: math.div(22, 16);
		font-weight: 700;
		min-height: math.div(22, 16) + em;
		text-align: start;

		@media (max-width: #{conf.$xl - 1}) {
			text-align: center;
		}

		@media (min-width: conf.$xl) {
			transform: translateY(math.div(1, 16) + rem);
		}

		&-overflow {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			word-break: break-all;

			&:empty {
				&::before {
					font-style: italic;
					font-weight: 300;
					word-break: normal;
					content: 'Title text not seted';

					@at-root :root[lang='ru'] & {
						content: 'Текст заголовка не задан';
					}
				}
			}
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: conf.$wild-sand;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		font-size: 0;
		line-height: 0;
		padding: 0.5rem;
		min-width: math.div(60, 16) + rem;

		@media (prefers-reduced-motion: no-preference) {
			transition-property: background-color;
			transition-duration: var(--animation-duration);
			transition-timing-function: var(--animation-timing-function);
		}

		&:hover,
		&:focus {
			background-color: darken(conf.$wild-sand, fibonacci.$asymp-l-percentage);
		}

		&:any-link {
			text-decoration: none;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}
	}

	&__overflow {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		word-break: break-all;
	}

	&__icon {
		pointer-events: none;
		font-size: math.div(20, 16) + rem;
	}
}
